<div class="menu">
    <ul>

        <li style="--i:6; --c:'\f015';" data-text="Home">
            <span>
                 Home
            </span>
        </li>
    
        <li style="--i:5; --c:'\f05a';" data-text="About">
            <span>
                 About
            </span>
        </li>
    
        <li style="--i:4; --c:'\f03a';" data-text="Services">
            <span>
                 Services
            </span>
        </li>
    
        <li style="--i:3; --c:'\f0b1';" data-text="Portfolio">
            <span>
                 Portfolio
            </span>
        </li>
    
        <li style="--i:2; --c:'\f0c0';" data-text="Team">
            <span>
                 Team
            </span>
        </li>
    
        <li style="--i:1; --c:'\f0e0';" data-text="Contact">
            <span>
                 Contact
            </span>
        </li>
    </ul>
</div>